.conteudo {
    width: 100%;
    margin: 0 auto;
}
.filhos {
    width: 150px;
    height: 150px;
    margin-left: 0.5%;
    margin-right: 0%;
    margin-bottom: 0.5%;
    float: left;
    border: 1px solid black;
}
